@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap");
html, body {
  font-family: Arial, "Malgun Gothic", sans-serif;
  font-size: 14px;
}

hr {
  border-top: 1px solid #dedede;
}

@media (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
}
@media (min-width: 1080px) {
  .table-style1 col:nth-child(1) {
    width: 8%;
  }
  .table-style1 col:nth-child(3) {
    width: 10%;
  }
  .table-style1 col:nth-child(4) {
    width: 14%;
  }
  .table-style1 col:nth-child(5) {
    width: 6%;
  }
  .table-style1 table {
    width: 840px;
  }
  .table-style1 .table-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #bbb;
    font-size: 16px;
    font-weight: 700;
  }
  .table-style1 tr {
    text-align: center;
  }
  .table-style1 tr:first-of-type {
    border-bottom: 1px solid #dedede;
  }
  .table-style1 td:nth-of-type(2) {
    padding-left: 10px;
    text-align: left;
  }
  .table-style1 th, .table-style1 td {
    padding: 12px 0;
  }
  .table-style1 td.post-notice {
    position: relative;
    padding-left: 40px;
  }
  .badge-notice {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 34px;
    height: 20px;
    border-radius: 2px;
    background-color: #ff5656;
    font-size: 12px;
    font-weight: 700;
    color: #FFF;
  }
  button[class^=btn], a[class^=btn] {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-main {
    height: 38px;
    background-color: #ff5656;
    color: #FFF;
    font-size: 13px;
  }
  .btn-sub {
    height: 38px;
    border: 1px solid #dedede;
    background-color: #fff;
    color: #ff5656;
    font-size: 13px;
  }
  .box-style1 {
    border: 1px solid #dedede;
  }
}
@media (min-width: 1080px) {
  #header .cafe_head {
    padding: 30px 0 20px 20px;
    border-bottom: 2px solid #ff5656;
  }
  #header .logo-main {
    font-family: "M PLUS Rounded 1c";
    font-weight: 800;
    font-size: 30px;
    letter-spacing: -0.04em;
    color: #ff5656;
  }
  #header h1 {
    margin: 30px 0 14px;
    font-size: 40px;
    font-weight: 700;
    text-indent: -0.08em;
  }
  #header .cafedesc {
    color: #666;
  }
  #gnb {
    border-bottom: 1px solid #dedede;
  }
  #gnb ul {
    display: flex;
  }
  #gnb li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 36px;
    font-weight: 700;
    color: #444;
  }
}
@media (min-width: 1080px) {
  #footer {
    padding: 20px 0 20px;
  }
  #footer .footer_wrap {
    display: flex;
    justify-content: space-between;
  }
  #footer .cafe_info {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  #footer .cafe_info p:first-child {
    font-weight: 700;
  }
  #footer .cafe_info p:nth-child(2) {
    font-size: 12px;
  }
  #footer .logo-sub {
    font-family: "M PLUS Rounded 1c";
    font-weight: 800;
    font-size: 24px;
    letter-spacing: -0.04em;
    color: #000;
  }
}
@media (min-width: 1080px) {
  .menuinfo_wrap li a:hover {
    text-decoration: underline;
  }
  .menuinfo_wrap .cafeinfo_wrap {
    margin-bottom: 20px;
    padding: 14px 10px 10px;
  }
  .menuinfo_wrap .cafeinfo_wrap li {
    margin-bottom: 10px;
    font-size: 13px;
  }
  .menuinfo_wrap .cafeinfo_wrap h2 {
    margin-bottom: 10px;
    padding: 4px 0;
    font-weight: 700;
  }
  .menuinfo_wrap .cafeinfo_wrap a.btn-main {
    margin-bottom: 10px;
  }
  .menuinfo_wrap .cafeinfo_wrap hr {
    margin: 10px 0;
  }
  .menuinfo_wrap .cafeinfo .cafename {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.05em;
  }
  .menuinfo_wrap .cafeinfo .manager {
    color: #ff5656;
  }
  .menuinfo_wrap .cafeinfo li:not(.cafename) a, .menuinfo_wrap .cafeinfo li:not(.cafename) span {
    margin-right: 16px;
  }
  .menuinfo_wrap .cafemyinfo li:nth-child(1) a:first-child {
    margin-right: 27px;
  }
  .menuinfo_wrap .cafemyinfo li:nth-child(2) a:first-child {
    margin-right: 27px;
  }
  .menuinfo_wrap .cafemyinfo li:nth-child(3) a:first-child {
    margin-right: 14px;
  }
  .menuinfo_wrap .cafemenu {
    width: 200px;
  }
  .menuinfo_wrap .count {
    color: #ff5656;
  }
  #lnb {
    padding: 14px 10px 8px;
  }
  #lnb .depth1 > li {
    margin-bottom: 10px;
    padding: 4px 0;
    font-weight: 700;
  }
  #lnb .depth2 > li {
    margin-bottom: 10px;
    font-size: 13px;
  }
}
@media (min-width: 1080px) {
  .main_wrap {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 200px;
    border-bottom: 2px solid #000;
  }
  .main_content {
    padding-top: 34px;
  }
}