@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap");
html {
  overflow-x: hidden;
  font-family: Arial, "Malgun Gothic", sans-serif;
}

@media (min-width: 1080px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 1079px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}
hr {
  border-top: 1px solid #dedede;
}

@media (max-width: 1079px) {
  .main_wrap {
    padding-bottom: 40px;
  }
  .container {
    margin: 0 15px;
  }
}
@media (min-width: 1080px) {
  .main_wrap {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 100px;
  }
  .main_content {
    padding-top: 34px;
  }
  .container {
    width: 1080px;
    margin: 0 auto;
  }
}
.badge-notice {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34px;
  height: 20px;
  border-radius: 2px;
  background-color: #ff5656;
  font-size: 12px;
  font-weight: 700;
  color: #FFF;
}

.table-style1 .table-title {
  padding-bottom: 10px;
  font-size: 16px;
}
.table-style1 tr {
  text-align: center;
}
.table-style1 th, .table-style1 td {
  padding: 20px 0;
}
.table-style1 td {
  border-bottom: 1px solid #f5f5f5;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-style1 td:nth-of-type(2) {
  padding-left: 10px;
  text-align: left;
}
.table-style1 tr.post-notice td:first-child {
  position: relative;
}
.table-style1 .post-notice .post-title {
  font-weight: 700;
}
.table-style1 .pager {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.table-style1 .pager ol {
  display: flex;
  gap: 6px;
  margin: 0 6px;
}
.table-style1 .pager ol li.active a {
  border: 1px solid #dedede;
  color: #ff5656;
}
.table-style1 .pager a {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
}
.table-style1 .pager a:hover {
  text-decoration: underline;
}
.table-style1 .pager > a {
  color: #666;
}

@media (max-width: 1079px) {
  .table-style1 col:nth-child(1) {
    width: 34px;
  }
  .table-style1 col:nth-child(3) {
    width: 80px;
  }
  .table-style1 col:nth-child(4) {
    width: 90px;
  }
  .table-style1 col:nth-child(5) {
    width: 30px;
  }
  .table-style1 table {
    width: 100%;
  }
  .table-style1 .table-title {
    display: none;
    border-bottom: 1px solid #bbb;
  }
  .table-style1 tr:first-child {
    display: none;
  }
  .table-style1 th, .table-style1 td {
    padding: 0;
  }
  .table-style1 td a {
    display: block;
    padding: 20px 0;
  }
  .table-style1 td:nth-of-type(1) {
    font-size: 14px;
  }
  .table-style1 td:nth-of-type(3) {
    font-size: 14px;
    text-align: right;
  }
  .table-style1 td:nth-of-type(4) {
    font-size: 14px;
    text-align: right;
  }
  .table-style1 td:nth-of-type(5) {
    font-size: 14px;
    text-align: right;
  }
  .table-style1 .pager a {
    width: 28px;
    height: 28px;
  }
}
@media (max-width: 767px) {
  .table-style1 col:nth-child(3) {
    width: 60px;
  }
  .table-style1 col:nth-child(4) {
    display: none;
  }
  .table-style1 col:nth-child(5) {
    display: none;
  }
  .table-style1 td:nth-of-type(4) {
    display: none;
  }
  .table-style1 td:nth-of-type(5) {
    display: none;
  }
  .table-style1 .pager a {
    width: 26px;
    height: 26px;
  }
}
@media (min-width: 1080px) {
  .table-style1 col:nth-child(1) {
    width: 8%;
  }
  .table-style1 col:nth-child(3) {
    width: 10%;
  }
  .table-style1 col:nth-child(4) {
    width: 14%;
  }
  .table-style1 col:nth-child(5) {
    width: 6%;
  }
  .table-style1 table {
    width: 840px;
  }
  .table-style1 .table-title {
    border-bottom: 1px solid #bbb;
    font-weight: 700;
  }
  .table-style1 tr:nth-of-type(n+2):hover {
    background-color: #f5f5f5;
  }
  .table-style1 tr:first-of-type {
    border-bottom: 1px solid #dedede;
  }
  .table-style1 td:nth-of-type(2) a:hover {
    text-decoration: underline;
  }
  .table-style1 th, .table-style1 td {
    padding: 12px 0;
  }
  .table-style1 tr:last-child td {
    border-bottom: 1px solid #dedede;
  }
  button[class^=btn], a[class^=btn] {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-main {
    height: 38px;
    background-color: #ff5656;
    color: #FFF;
    font-size: 13px;
  }
  .btn-sub {
    height: 38px;
    border: 1px solid #dedede;
    background-color: #fff;
    color: #ff5656;
    font-size: 13px;
  }
  .btn-sub:hover {
    border: 1px solid #cdcdcd;
  }
  .box-style1 {
    border: 1px solid #dedede;
  }
}
#header .logo-main {
  font-family: "M PLUS Rounded 1c";
  font-weight: 800;
}

@media (max-width: 1079px) {
  #header {
    background-color: #ff5656;
  }
  #header .cafe_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
  }
  #header .logo-main {
    font-family: "M PLUS Rounded 1c";
    font-weight: 800;
    font-size: 22px;
  }
  #header h1 {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-top: 2px;
    margin: 0;
    height: 60px;
    font-size: 23px;
  }
  #header .cafedesc {
    display: none;
  }
  #header .btn-menu {
    display: block;
    width: 36px;
    height: 36px;
    background-image: url("../image/gnb-menu.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center right;
  }
  #gnb {
    border-bottom: 1px solid #dedede;
    font-size: 16px;
  }
  #gnb ul {
    display: flex;
    gap: 30px;
  }
  #gnb ul a {
    display: flex;
    align-items: center;
    margin-bottom: -1px;
    height: 47px;
  }
  #gnb ul li.active {
    color: #ff5656;
    font-weight: 700;
  }
  #gnb ul li.active a {
    border-bottom: 2px solid #ff5656;
  }
}
@media (max-width: 767px) {
  #header h1, #header .logo-main {
    font-size: 18px;
  }
  #gnb {
    font-size: 15px;
  }
}
@media (min-width: 1080px) {
  #header .btn-menu {
    display: none;
  }
  #header .cafe_head {
    padding: 30px 0 20px 20px;
    border-bottom: 2px solid #ff5656;
  }
  #header .logo-main {
    font-size: 30px;
    letter-spacing: -0.04em;
    color: #ff5656;
  }
  #header h1 {
    margin: 30px 0 14px;
    font-size: 40px;
    font-weight: 700;
    text-indent: -0.08em;
  }
  #header .cafedesc {
    color: #666;
  }
  #gnb ul {
    border-bottom: 1px solid #dedede;
    display: flex;
  }
  #gnb li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 36px;
    font-weight: 700;
    color: #444;
  }
}
#footer {
  border-top: 2px solid #000;
}
#footer .footer_wrap {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 60px;
}
#footer .cafe_info {
  display: flex;
  align-items: center;
  gap: 20px;
}
#footer .cafe_info p:first-child {
  font-weight: 700;
}
#footer .cafe_info p:nth-child(2) {
  font-size: 12px;
}
#footer .logo-sub {
  display: flex;
  align-items: center;
  font-family: "M PLUS Rounded 1c";
  font-weight: 800;
  font-size: 22px;
  letter-spacing: -0.04em;
  color: #000;
}

@media (max-width: 1079px) {
  #footer .logo-sub {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  #footer .logo-sub {
    font-size: 20px;
  }
  #footer .cafe_info p:nth-of-type(2) {
    display: none;
  }
}
@media (min-width: 1080px) {
  #footer {
    border-top: none;
  }
  #footer .footer_wrap {
    height: 66px;
    border-top: 2px solid #000;
  }
  #footer .logo-sub {
    font-size: 24px;
  }
}
@media (max-width: 1079px) {
  .menuinfo_wrap {
    display: none;
  }
}
@media (min-width: 1080px) {
  .menuinfo_wrap .cafeinfo a:hover, .menuinfo_wrap .cafemyinfo a:hover {
    text-decoration: underline;
  }
  .menuinfo_wrap .cafeinfo_wrap {
    padding: 14px 10px 10px;
  }
  .menuinfo_wrap .cafeinfo_wrap li {
    margin-bottom: 10px;
    font-size: 13px;
  }
  .menuinfo_wrap .cafeinfo_wrap h2 {
    margin-bottom: 10px;
    padding: 4px 0;
    font-weight: 700;
  }
  .menuinfo_wrap .cafeinfo_wrap a.btn-main {
    margin-bottom: 10px;
  }
  .menuinfo_wrap .cafeinfo_wrap hr {
    margin: 10px 0;
  }
  .menuinfo_wrap .cafeinfo .cafename {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.05em;
  }
  .menuinfo_wrap .cafeinfo .manager {
    color: #ff5656;
  }
  .menuinfo_wrap .cafeinfo li:not(.cafename) a, .menuinfo_wrap .cafeinfo li:not(.cafename) span {
    margin-right: 16px;
  }
  .menuinfo_wrap .cafemyinfo {
    position: relative;
  }
  .menuinfo_wrap .cafemyinfo .btn-logout {
    position: absolute;
    top: 6px;
    right: 60px;
    font-size: 12px;
  }
  .menuinfo_wrap .cafemyinfo li:nth-child(1) a:first-child {
    margin-right: 27px;
  }
  .menuinfo_wrap .cafemyinfo li:nth-child(2) a:first-child {
    margin-right: 27px;
  }
  .menuinfo_wrap .cafemyinfo li:nth-child(3) a:first-child {
    margin-right: 14px;
  }
  .menuinfo_wrap .search_area {
    position: relative;
    height: 24px;
    margin: 10px 0;
    border: 1px solid #dedede;
  }
  .menuinfo_wrap .search_area input {
    box-sizing: border-box;
    height: 100%;
    padding-left: 4px;
    border: none;
  }
  .menuinfo_wrap .search_area .btn-search {
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 16px;
    height: 16px;
    background-image: url("../image/btn-search.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .menuinfo_wrap .cafemenu {
    width: 200px;
  }
  .menuinfo_wrap .count {
    color: #ff5656;
  }
  #lnb {
    padding: 14px 10px 4px;
  }
  #lnb .menu_group {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 700;
  }
  #lnb .depth2 > li {
    margin-bottom: 10px;
    font-size: 13px;
  }
  #lnb .depth2 a:hover {
    text-decoration: underline;
  }
}