@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap");
html {
  overflow-x: hidden;
  font-family: Arial, "Malgun Gothic", sans-serif;
}

@media (min-width: 1080px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 1079px) {
  html {
    font-size: 16px;
  }
  hr {
    margin: 14px 0;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
  hr {
    margin: 12px 0;
  }
}
hr {
  border-top: 1px solid #dedede;
}

@media (max-width: 1079px) {
  .main_wrap {
    padding-bottom: 40px;
  }
  .container {
    margin: 0 15px;
  }
}
@media (min-width: 1080px) {
  .main_wrap {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 100px;
  }
  #main .main_content {
    padding-top: 34px;
  }
  .container {
    width: 1080px;
    margin: 0 auto;
  }
}
#header .logo-main {
  font-family: "M PLUS Rounded 1c";
  font-weight: 800;
}

@media (min-width: 1080px) {
  #header .btn-menu {
    display: none;
  }
  #header .cafe_head {
    padding: 30px 0 20px 20px;
    border-bottom: 2px solid #ff5656;
  }
  #header .logo-main {
    font-size: 30px;
    letter-spacing: -0.04em;
    color: #ff5656;
  }
  #header h1 {
    margin: 30px 0 14px;
    font-size: 40px;
    font-weight: 700;
    text-indent: -0.08em;
  }
  #header .cafedesc {
    color: #666;
  }
  #gnb ul {
    border-bottom: 1px solid #dedede;
    display: flex;
  }
  #gnb li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 36px;
    font-weight: 700;
    color: #444;
  }
}
@media (max-width: 1079px) {
  #header {
    background-color: #ff5656;
  }
  #header .cafe_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
  }
  #header .logo-main {
    font-family: "M PLUS Rounded 1c";
    font-weight: 800;
    font-size: 22px;
  }
  #header h1 {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-top: 2px;
    margin: 0;
    height: 60px;
    font-size: 23px;
  }
  #header .cafedesc {
    display: none;
  }
  #header .btn-menu {
    display: block;
    width: 36px;
    height: 36px;
    background-image: url("../image/gnb-menu.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center right;
  }
  #gnb {
    border-bottom: 1px solid #dedede;
    font-size: 16px;
  }
  #gnb ul {
    display: flex;
    gap: 30px;
  }
  #gnb ul a {
    display: flex;
    align-items: center;
    margin-bottom: -1px;
    height: 47px;
  }
  #gnb ul li.active {
    color: #ff5656;
    font-weight: 700;
  }
  #gnb ul li.active a {
    border-bottom: 2px solid #ff5656;
  }
}
@media (max-width: 767px) {
  #header h1 {
    height: 48px;
  }
  #header h1, #header .logo-main {
    font-size: 18px;
  }
  #gnb {
    font-size: 15px;
  }
}
#footer {
  border-top: 2px solid #000;
}
#footer .footer_wrap {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 60px;
}
#footer .cafe_info {
  display: flex;
  align-items: center;
  gap: 20px;
}
#footer .cafe_info p:first-child {
  font-weight: 700;
}
#footer .cafe_info p:nth-child(2) {
  font-size: 12px;
}
#footer .logo-sub {
  display: flex;
  align-items: center;
  font-family: "M PLUS Rounded 1c";
  font-weight: 800;
  font-size: 22px;
  letter-spacing: -0.04em;
  color: #000;
}

@media (min-width: 1080px) {
  #footer {
    border-top: none;
  }
  #footer .footer_wrap {
    height: 66px;
    border-top: 2px solid #000;
  }
  #footer .logo-sub {
    font-size: 24px;
  }
}
@media (max-width: 1079px) {
  #footer .logo-sub {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  #footer .footer_wrap {
    height: 48px;
  }
  #footer .logo-sub {
    font-size: 20px;
  }
  #footer .cafe_info p:nth-of-type(2) {
    display: none;
  }
}
.menuinfo_wrap .cafeinfo_wrap a.btn-main {
  margin-bottom: 10px;
}
.menuinfo_wrap .search_area {
  position: relative;
  height: 24px;
  margin: 10px 0;
  border: 1px solid #dedede;
}
.menuinfo_wrap .search_area input {
  box-sizing: border-box;
  height: 100%;
  padding-left: 4px;
  border: none;
}
.menuinfo_wrap .search_area .btn-search {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url("../image/btn-search.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
}
.menuinfo_wrap .cafemyinfo {
  position: relative;
}
.menuinfo_wrap .cafemyinfo .btn-logout {
  position: absolute;
  top: 6px;
  right: 40px;
  font-size: 12px;
}
.menuinfo_wrap .cafemyinfo .profile {
  display: flex;
  margin-bottom: 14px;
}
.menuinfo_wrap .cafemyinfo .thumb {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-image: url("../image/profile-default.png");
  background-size: cover;
}
.menuinfo_wrap .cafemyinfo .profile_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}
.menuinfo_wrap .cafemyinfo .profile_info p:nth-child(1) {
  font-weight: 700;
}
.menuinfo_wrap .cafemyinfo .profile_info p:nth-child(2) {
  font-size: 12px;
  color: #666;
}

@media (min-width: 1080px) {
  .modal_wrap .btn-close {
    display: none;
  }
  .menuinfo_wrap .cafeinfo a:hover, .menuinfo_wrap .cafemyinfo a:hover {
    text-decoration: underline;
  }
  .menuinfo_wrap .cafeinfo_wrap {
    padding: 14px 10px 10px;
  }
  .menuinfo_wrap .cafeinfo_wrap li {
    margin-bottom: 10px;
    font-size: 13px;
  }
  .menuinfo_wrap .cafeinfo_wrap h2 {
    margin-bottom: 10px;
    padding: 4px 0;
    font-weight: 700;
  }
  .menuinfo_wrap .cafeinfo_wrap hr {
    margin: 10px 0;
  }
  .menuinfo_wrap .cafeinfo .cafename {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.05em;
  }
  .menuinfo_wrap .cafeinfo .manager {
    color: #ff5656;
  }
  .menuinfo_wrap .cafeinfo li:not(.cafename) a, .menuinfo_wrap .cafeinfo li:not(.cafename) span {
    margin-right: 16px;
  }
  .menuinfo_wrap .cafemyinfo li:nth-child(1) a:first-child {
    margin-right: 27px;
  }
  .menuinfo_wrap .cafemyinfo li:nth-child(2) a:first-child {
    margin-right: 27px;
  }
  .menuinfo_wrap .cafemyinfo li:nth-child(3) a:first-child {
    margin-right: 14px;
  }
  .menuinfo_wrap .cafemenu {
    width: 200px;
  }
  .menuinfo_wrap .count {
    color: #ff5656;
  }
  #lnb {
    padding: 14px 10px 4px;
  }
  #lnb .menu_group {
    display: inline-block;
    margin-bottom: 12px;
    font-weight: 700;
  }
  #lnb .depth2 > li {
    margin-bottom: 12px;
    font-size: 13px;
  }
  #lnb .depth2 a:hover {
    text-decoration: underline;
  }
}
@media (max-width: 1079px) {
  .modal_wrap {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  .modal_wrap.active {
    display: block;
  }
  .modal_wrap .btn-close {
    display: block;
    position: absolute;
    top: 0;
    right: 300px;
    width: 40px;
    height: 40px;
    background-image: url("../image/btn-close-white.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 70%;
  }
  .menuinfo_wrap {
    position: absolute;
    top: 0;
    right: -300px;
    bottom: 0;
    box-sizing: border-box;
    width: 300px;
    padding: 15px;
    background-color: #fff;
  }
  .menuinfo_wrap .cafeinfo {
    display: none;
  }
  .menuinfo_wrap .cafemyinfo .btn-logout {
    top: 0;
    right: 0;
    font-size: 14px;
  }
  .menuinfo_wrap .cafemyinfo h2 {
    margin-bottom: 14px;
    font-weight: 700;
  }
  .menuinfo_wrap .cafemyinfo > ul {
    display: none;
  }
  .menuinfo_wrap .search_area {
    height: 30px;
  }
  .menuinfo_wrap .search_area .btn-search {
    width: 30px;
    height: 30px;
    background-size: 22px 22px;
    background-position: center;
  }
  #lnb {
    padding: 0;
  }
  #lnb a {
    display: block;
    width: 100%;
    padding: 12px 0;
  }
  #lnb .menu_group {
    font-weight: 700;
    border-bottom: 1px solid #dedede;
  }
}
@media (max-width: 767px) {
  .modal_wrap .btn-close {
    width: 36px;
    height: 36px;
    background-size: 70%;
    right: 240px;
  }
  .menuinfo_wrap {
    width: 240px;
    padding: 10px;
  }
  .menuinfo_wrap .cafemyinfo .btn-logout {
    font-size: 13px;
  }
  .menuinfo_wrap .search_area .btn-search {
    background-size: 20px 20px !important;
  }
}