// Font
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap');

@import "import/variable";
@import "import/mixin";

// common
html, body {
    font-family: Arial, 'Malgun Gothic', sans-serif;
    font-size: 14px;
}

@include pc {
    .container {width: 1080px;margin: 0 auto;}
}

// style-component
@include pc {
    // table
    .table-style1 {
        col:nth-child(1) {
            width: 8%;
        }
        col:nth-child(3) {width: 10%}
        col:nth-child(4) {width: 14%}
        col:nth-child(5) {width: 6%}
        table {
            width: 800px;
        }
        .table-title {
            padding-bottom: 10px;
            border-bottom: 1px solid #bbb;
            font-size: 16px;
            font-weight: 700;
        }
        tr {text-align: center;}
        tr:first-of-type {border-bottom: 1px solid $line-light-gray;}
        td:nth-of-type(2) {
            padding-left: 10px;
            text-align: left;
        }
        th, td {
            padding: 12px 0;
        }
        td.post-notice {
            position: relative;
            padding-left: 40px;
        }
    }
    // badge
    .badge-notice {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 34px;
        height: 20px;
        border-radius: 2px;
        background-color: $main-color;
        font-size: 12px;
        font-weight: 700;
        color: #FFF;
    }
}

// header
@include pc {
    #header {
        .cafe_head {
            padding: 30px 0 20px 20px;
            border-bottom: 2px solid $main-color;
        }
        .logo-main {
            font-family: 'M PLUS Rounded 1c';
            font-weight: 800;
            font-size: 30px;
            letter-spacing: -0.04em;
            color: $main-color;
        }
        h1 {
            margin: 30px 0 14px;
            font-size: 40px;
            font-weight: 700;
            text-indent: -0.08em;
        }
        .cafedesc {
            color: #666;
        }
    }
    #gnb {
        border-bottom: 1px solid $line-light-gray;
        ul {
            display: flex;
        }
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 36px;
            font-weight: 700;
            color: #444;
        }
    }
}

// footer
@include pc {
    #footer {
        padding: 20px 0 20px;
        .footer_wrap {
            display: flex;
            justify-content: space-between;
        }
        .cafe_info {
            display: flex;
            align-items: center;
            gap: 20px;
            p:first-child {font-weight: 700;}
            p:nth-child(2) {font-size: 12px;}
        }
        .logo-sub {
            font-family: 'M PLUS Rounded 1c';
            font-weight: 800;
            font-size: 24px;
            letter-spacing: -0.04em;
            color: #000;
        }
    }
}

// lnb
@include pc {
    .cafemenu {
        width: 200px;
    }
}

// main
@include pc {
    .main_wrap {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 200px;
        border-bottom: 2px solid #000;
    }
    .main_content {
        padding-top: 34px;
    }
}