// Font
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap');

@import "import/variable";
@import "import/mixin";

// common
html, body {
    font-family: Arial, 'Malgun Gothic', sans-serif;
    font-size: 14px;
}
hr {border-top: 1px solid $line-light-gray;}
@include tablet {
    .container {margin: 0 15px;}
}
@include pc {
    .container {width: 1080px;margin: 0 auto;}
}

// style-component
.table-style1 {
    .table-title {
        padding-bottom: 10px;
        font-size: 16px;
    }
    tr {text-align: center;}
    th, td {
        padding: 20px 0;
    }
    td {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    // td a {
    // }
    td:nth-of-type(2) {
        padding-left: 10px;
        text-align: left;
    }
    tr.post-notice td:first-child {
        position: relative;
        // padding-left: 40px;
    }
    .post-notice .post-title {font-weight: 700;}
}
.badge-notice {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 34px;
    height: 20px;
    border-radius: 2px;
    background-color: $main-color;
    font-size: 12px;
    font-weight: 700;
    color: #FFF;
}

@include tablet {
    .table-style1 {
        col:nth-child(1) {width: 34px;}
        col:nth-child(3) {width: 80px}
        col:nth-child(4) {width: 90px}
        col:nth-child(5) {width: 30px}
        table {width: 100%;}
        .table-title {
            display: none;
            // padding-bottom: 10px;
            border-bottom: 1px solid #bbb;
        }
        tr:first-child {display: none;}
        th, td {
            font-size: 16px;
        }
        td {border-bottom: 1px solid #f5f5f5;}
        td:nth-of-type(1) {font-size: 14px;}
        td:nth-of-type(3) {font-size: 14px;text-align: right;}
        td:nth-of-type(4) {font-size: 14px;text-align: right;}
        td:nth-of-type(5) {font-size: 14px;text-align: right;}
    }
}
@include mobile {
    .table-style1 {
        col:nth-child(3) {width: 60px}
        col:nth-child(4) {display: none;}
        col:nth-child(5) {display: none;}
        td:nth-of-type(2) {font-size: 14px;}
        td:nth-of-type(4) {display: none;}
        td:nth-of-type(5) {display: none;}
    }
}
@include pc {
    // table
    .table-style1 {
        col:nth-child(1) {width: 8%;}
        col:nth-child(3) {width: 10%}
        col:nth-child(4) {width: 14%}
        col:nth-child(5) {width: 6%}
        table {
            width: 840px;
        }
        .table-title {
            // padding-bottom: 10px;
            border-bottom: 1px solid #bbb;
            font-weight: 700;
        }
        // tr {text-align: center;}
        tr:nth-of-type(n+2):hover {background-color: #f5f5f5;}
        tr:first-of-type {border-bottom: 1px solid $line-light-gray;}
        td:nth-of-type(2) {
            // padding-left: 10px;
            // text-align: left;
            & a:hover {
                text-decoration: underline;
            }
        }
        th, td {
            padding: 12px 0;
        }
        // td {border-bottom: 1px solid #f5f5f5;}
        tr:last-child td {border-bottom: 1px solid #dedede;}
        // tr.post-notice td:first-child {
        //     position: relative;
        //     padding-left: 40px;
        // }
        // .post-notice .post-title {font-weight: 700;}

        .pager {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 24px;
            ol {
                display: flex;
                gap: 6px;
                margin: 0 6px;
                li.active a {
                    border: 1px solid $line-light-gray;
                    color: $main-color;
                }
            }
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                width: 26px;
                height: 26px;
                &:hover {text-decoration: underline;}
            }
            & > a {color: #666;} // prev next
        }
    }
    // badge
    // .badge-notice {
    //     display: inline-flex;
    //     justify-content: center;
    //     align-items: center;
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     width: 34px;
    //     height: 20px;
    //     border-radius: 2px;
    //     background-color: $main-color;
    //     font-size: 12px;
    //     font-weight: 700;
    //     color: #FFF;
    // }
    // button
    button[class^=btn], a[class^=btn] {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-main {
        height: 38px;
        background-color: $main-color;
        color: #FFF;
        font-size: 13px;
    }
    .btn-sub {
        height: 38px;
        border: 1px solid $line-light-gray;
        background-color: #fff;
        color: $main-color;
        font-size: 13px;
        &:hover {border: 1px solid #cdcdcd;}
    }
    // box
    .box-style1 {
        border: 1px solid $line-light-gray;
    }
}

// header & gnb
#header {
    .logo-main {
        font-family: 'M PLUS Rounded 1c';
        font-weight: 800;
    }
}
@include tablet {
    #header {
        background-color: $main-color;
        .cafe_head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #FFF;
        }
        .logo-main {
            font-family: 'M PLUS Rounded 1c';
            font-weight: 800;
            font-size: 22px;
        }
        h1 {
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding-top: 2px;
            margin: 0;
            height: 60px;
            font-size: 23px;
        }
        .cafedesc {display: none;}
        .btn-menu {
            display: block;
            width: 36px;
            height: 36px;
            background-image: url('../image/gnb-menu3.svg');
            background-repeat: no-repeat;
            background-size: 24px 24px;
            background-position: center right;
        }
    }
    #gnb {
        border-bottom: 1px solid $line-light-gray;
        font-size: 16px;
        ul {
            display: flex;
            gap: 30px;
            a {
                display: flex;
                align-items: center;
                margin-bottom: -1px;
                height: 47px;
            }
            li.active {
                color: $main-color;
                a {border-bottom: 2px solid $main-color;}
                font-weight: 700;
            }
        }
    }
}
@include mobile {
    #header {
        h1, .logo-main {
            font-size: 18px;
        }
    }

}
@include pc {
    #header {
        .btn-menu {display: none;}
        .cafe_head {
            padding: 30px 0 20px 20px;
            border-bottom: 2px solid $main-color;
        }
        .logo-main {
            font-size: 30px;
            letter-spacing: -0.04em;
            color: $main-color;
        }
        h1 {
            margin: 30px 0 14px;
            font-size: 40px;
            font-weight: 700;
            text-indent: -0.08em;
        }
        .cafedesc {
            color: #666;
        }
    }
    #gnb {
        ul {
            border-bottom: 1px solid $line-light-gray;
            display: flex;
        }
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 36px;
            font-weight: 700;
            color: #444;
        }
    }
}

// footer
@include pc {
    #footer {
        padding: 20px 0 20px;
        .footer_wrap {
            display: flex;
            justify-content: space-between;
        }
        .cafe_info {
            display: flex;
            align-items: center;
            gap: 20px;
            p:first-child {font-weight: 700;}
            p:nth-child(2) {font-size: 12px;}
        }
        .logo-sub {
            font-family: 'M PLUS Rounded 1c';
            font-weight: 800;
            font-size: 24px;
            letter-spacing: -0.04em;
            color: #000;
        }
    }
}

// lnb
@include tablet {
    .menuinfo_wrap {display: none;}
}
@include pc {
    .menuinfo_wrap {
        .cafeinfo a:hover, .cafemyinfo a:hover {text-decoration: underline;}
        .cafeinfo_wrap {
            padding: 14px 10px 10px;
            li {
                margin-bottom: 10px;
                font-size: 13px;
            }
            h2 {
                margin-bottom: 10px;
                padding: 4px 0;
                font-weight: 700;
            }
            a.btn-main {margin-bottom: 10px;}
            hr {margin: 10px 0;}
        }
        .cafeinfo {
            .cafename {
                font-size: 16px;
                font-weight: 700;
                letter-spacing: -0.05em;
            }
            .manager {color: $main-color;}
            li:not(.cafename) a, li:not(.cafename) span {margin-right: 16px;}
        }
        .cafemyinfo {
            position: relative;
            .btn-logout {
                position: absolute;
                top: 6px;
                right: 60px;
                font-size: 12px;
            }
            li:nth-child(1) a:first-child {margin-right: 27px;}
            li:nth-child(2) a:first-child {margin-right: 27px;}
            li:nth-child(3) a:first-child {margin-right: 14px;}
        }
        .search_area {
            position: relative;
            height: 24px;
            margin: 10px 0;
            border: 1px solid $line-light-gray;
            input {
                box-sizing: border-box;
                height: 100%;
                padding-left: 4px;
                border: none;
            }
            .btn-search {
                display: block;
                position: absolute;
                top: 4px;
                right: 4px;
                width: 16px;
                height: 16px;
                background-image: url('../image/btn-search.svg');
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        .cafemenu {width: 200px;}
        .count {color: $main-color;}
    }
    #lnb {
        padding: 14px 10px 4px;
        .menu_group {
            display: inline-block;
            margin-bottom: 10px;
            font-weight: 700;
        }
        .depth2 > li {
            margin-bottom: 10px;
            font-size: 13px;
        }
    }
}

// main layout
// @include tablet {
//     .main_content {
//         padding-top: 20px;
//     }
// }
@include pc {
    .main_wrap {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 100px;
        border-bottom: 2px solid #000;
    }
    .main_content {
        padding-top: 34px;
    }
}