// Font
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap');

@import "import/variable";
@import "import/mixin";

// common
html {
    overflow-x: hidden;
    font-family: Arial, 'Malgun Gothic', sans-serif;
}
@include pc {
    html {
        font-size: 14px;
    }
}
@include tablet {
    html {
        font-size: 16px;
    }
    .main_content {min-height: calc(100vh - 120px);}
    hr {margin: 14px 0;}
}
@include mobile {
    html {
        font-size: 14px;
    }
    hr {margin: 12px 0;}
}
hr {border-top: 1px solid $line-light-gray;}

// layout
@include tablet {
    .main_wrap {padding-bottom: 40px;}
    .container {margin: 0 15px;}
}
@include pc {
    .main_wrap {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 100px;
    }
    #main .main_content {
        padding-top: 34px;
    }
    .container {width: 1080px;margin: 0 auto;}
}

// header & gnb
#header {
    .logo-main {
        font-family: 'M PLUS Rounded 1c';
        font-weight: 800;
    }
}
@include pc {
    #header {
        .btn-menu {display: none;}
        .cafe_head {
            padding: 30px 0 20px 20px;
            border-bottom: 2px solid $main-color;
        }
        .logo-main {
            font-size: 30px;
            letter-spacing: -0.04em;
            color: $main-color;
        }
        h1 {
            margin: 30px 0 14px;
            font-size: 40px;
            font-weight: 700;
            text-indent: -0.08em;
        }
        .cafedesc {
            color: #666;
        }
    }
    #gnb {
        ul {
            border-bottom: 1px solid $line-light-gray;
            display: flex;
        }
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 36px;
            font-weight: 700;
            color: #444;
        }
    }
}
@include tablet {
    #header {
        background-color: $main-color;
        .cafe_head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #FFF;
        }
        .logo-main {
            font-family: 'M PLUS Rounded 1c';
            font-weight: 800;
            font-size: 22px;
        }
        h1 {
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding-top: 2px;
            margin: 0;
            height: 60px;
            font-size: 23px;
        }
        .cafedesc {display: none;}
        .btn-menu {
            display: block;
            width: 36px;
            height: 36px;
            background-image: url('../image/gnb-menu.svg');
            background-repeat: no-repeat;
            background-size: 24px 24px;
            background-position: center right;
        }
    }
    #gnb {
        border-bottom: 1px solid $line-light-gray;
        font-size: 16px;
        ul {
            display: flex;
            gap: 30px;
            a {
                display: flex;
                align-items: center;
                margin-bottom: -1px;
                height: 47px;
            }
            li.active {
                color: $main-color;
                a {border-bottom: 2px solid $main-color;}
                font-weight: 700;
            }
        }
    }
}
@include mobile {
    #header {
        h1 {
            height: 48px;
        }
        h1, .logo-main {
            font-size: 18px;
        }
    }
    #gnb {
        font-size: 15px;
    }
}

// footer
#footer {
    border-top: 2px solid #000;
    .footer_wrap {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        height: 60px;
    }
    .cafe_info {
        display: flex;
        align-items: center;
        gap: 20px;
        p:first-child {font-weight: 700;}
        p:nth-child(2) {font-size: 12px;}
    }
    .logo-sub {
        display: flex;
        align-items: center;
        font-family: 'M PLUS Rounded 1c';
        font-weight: 800;
        font-size: 22px;
        letter-spacing: -0.04em;
        color: #000;
    }
}
@include pc {
    #footer {
        border-top: none;
        .footer_wrap {
            height: 66px;
            border-top: 2px solid #000;
        }
        .logo-sub {
            font-size: 24px;
        }
    }
}
@include tablet {
    #footer {
        .logo-sub {
            font-size: 22px;
        }
    }
}
@include mobile {
    #footer {
        .footer_wrap {
            height: 48px;
        }
        .logo-sub {
            font-size: 20px;
        }
        .cafe_info p:nth-of-type(2) {display: none;}
    }
}

// lnb
.menuinfo_wrap {
    .cafeinfo_wrap {
        a.btn-main {margin-bottom: 10px;}
    }
    .search_area {
        position: relative;
        height: 24px;
        margin: 10px 0;
        border: 1px solid $line-light-gray;
        input {
            box-sizing: border-box;
            height: 100%;
            padding-left: 4px;
            border: none;
        }
        .btn-search {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 24px;
            height: 24px;
            background-image: url('../image/btn-search.svg');
            background-repeat: no-repeat;
            background-size: 16px 16px;
            background-position: center;
        }
    }
    .cafemyinfo {
        position: relative;
        .btn-logout {
            position: absolute;
            top: 6px;
            right: 40px;
            font-size: 12px;
        }
        .profile {
            display: flex;
            margin-bottom: 14px;
        }
        .thumb {
            display: block;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            background-image: url('../image/profile-default.png');
            background-size: cover;
        }
        .profile_info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 6px;
            p:nth-child(1) {font-weight: 700;}
            p:nth-child(2) {font-size: 12px;color: #666;}
        }
    }
}
@include pc {
    .modal_wrap {
        .btn-close {
            display: none;
        }
    }
    .menuinfo_wrap {
        .cafeinfo a:hover, .cafemyinfo a:hover {text-decoration: underline;}
        .cafeinfo_wrap {
            padding: 14px 10px 10px;
            li {
                margin-bottom: 10px;
                font-size: 13px;
            }
            h2 {
                margin-bottom: 10px;
                padding: 4px 0;
                font-weight: 700;
            }
            hr {margin: 10px 0;}
        }
        .cafeinfo {
            .cafename {
                font-size: 16px;
                font-weight: 700;
                letter-spacing: -0.05em;
            }
            .manager {color: $main-color;}
            li:not(.cafename) a, li:not(.cafename) span {margin-right: 16px;}
        }
        .cafemyinfo {
            li:nth-child(1) a:first-child {margin-right: 27px;}
            li:nth-child(2) a:first-child {margin-right: 27px;}
            li:nth-child(3) a:first-child {margin-right: 14px;}
        }
        .cafemenu {width: 200px;}
        .count {color: $main-color;}
    }
    #lnb {
        padding: 14px 10px 4px;
        .menu_group {
            display: inline-block;
            margin-bottom: 12px;
            font-weight: 700;
        }
        .depth2 > li {
            margin-bottom: 12px;
            font-size: 13px;
        }
        .depth2 a:hover {
            text-decoration: underline;
        }
    }
}
@include tablet {
    .modal_wrap {
        display: none;
        &.active {
            display: block;
        }
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 999;
        .btn-close {
            display: block;
            position: absolute;
            top: 0;
            right: 300px;
            width: 40px;
            height: 40px;
            background-image: url('../image/btn-close-white.svg');
            background-repeat: no-repeat;
            background-position: left bottom;
            background-size: 70%;
        }
    }
    .menuinfo_wrap {
        position: absolute;
        top: 0;
        right: -300px;
        bottom: 0;
        box-sizing: border-box;
        width: 300px;
        padding: 15px;
        background-color: #fff;
        .cafeinfo {
            display: none;
        }
        .cafemyinfo {
            .btn-logout {
                top: 0;
                right: 0;
                font-size: 14px;
            }
            h2 {
                margin-bottom: 14px;
                font-weight: 700;
            }
            & > ul {
                display: none;
            }
        }
        .search_area {
            height: 30px;
            .btn-search {
                width: 30px;
                height: 30px;
                background-size: 22px 22px;
                background-position: center;
            }
        }
    }
    #lnb {
        padding: 0;
        a {
            display: block;
            width: 100%;
            padding: 12px 0;
        }
        .menu_group {
            font-weight: 700;
            border-bottom: 1px solid $line-light-gray;
        }
    }
}
@include mobile {
    .modal_wrap {
        .btn-close {
            width: 36px;
            height: 36px;
            background-size: 70%;
            right: 240px;   
        }
    }
    .menuinfo_wrap {
        width: 240px;
        padding: 10px;
        .cafemyinfo {
            .btn-logout {
                font-size: 13px;
            }
        }
        .search_area {
            .btn-search {
                background-size: 20px 20px !important;
            }
        }
    }
}
