@import "import/variable";
@import "import/mixin";

// board detail
@include pc {
    .board_detail_wrap {
        border: 1px solid $line-light-gray;
        hr {margin: 20px 0;}
        .board_detail {
            box-sizing: border-box;
            width: 856px;
            padding: 24px 30px;
            h3 {
                margin: 14px 0;
                font-size: 22px;
            }
        }
        .board_author_desc {
            display: flex;
            align-items: center;
            gap: 10px;
            li:first-child a {
                display: block;
                width: 28px;
                height: 28px;
                background-image: url('../image/profile-default.png');
                background-size: cover;
            }
            li:nth-child(2) {font-weight: 700;}
        }
        .board_content {
            min-height: 60px;
        }
        h4 {font-size: 16px;font-weight: 700;}
        .comment_list {
            padding: 4px 0 10px;
        }
        .comment {
            position: relative;
            padding: 10px 0;
            &.depth2 {
                padding-left: 34px;
                p {width: 724px;}
            }
            .thumb {
                display: block;
                width: 28px;
                height: 28px;
                background-image: url('../image/profile-default.png');
                background-size: 100% auto;
                background-repeat: no-repeat;
            }
            p {
                width: 758px;
                line-height: 1.5;
                b {margin-right: 4px;}
            }
        }
        .comment_post {
            display: flex;
            gap: 10px;
        }
        .comment_response {
            position: absolute;
            top: 10px;
            right: 0;
        }
        .comment_author_desc {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
            li:nth-child(2) {
                font-size: 12px;
                color: #666;
            }
        }
        .comment_form {
            box-sizing: border-box;
            p {display: flex;justify-content: flex-end;}
            button {width: 54px;height: 34px;}
            padding: 10px;
            border: 1px solid $line-light-gray;
        }
    }
}